<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <style>
            {{styles}}
        </style>
    </head>
    <body>
        <div class="header">
            <h1>Welcome to MyApp</h1>
        </div>
        <div class="content">
            <div class="thankyou"> Welcome on board Mr. {{firstName}} {{lastName}}</div>
            <div>Your verification OTP is <strong>{{otp}}</strong></div>
        </div>
    </body>
 </html>