<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <style>
            
        body{
            margin: 0
        }
        .header {
            background: #563d7c;
            height: 5.5rem;
            top: 0rem;
            width: 100%;
            color: #ffffff;
            z-index: 1;
        }


        h1 {
            padding: 1.5rem;
        }
        .content {
            margin: 2rem 1.5rem;
        }
        .thankyou {
            font-size: 20px;
            margin-bottom: 2rem;
        }
        </style>
    </head>
    <body>
        <div class="header">
            <h1>Welcome to MyApp</h1>
        </div>
        <div class="content">
            <div class="thankyou"> Welcome on board Mr. {{firstName}} {{lastName}}</div>
            <div>Your verification OTP is <strong>{{otp}}</strong></div>
        </div>
    </body>
 </html>